
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(45,40,74);
}

span {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
a.navigation.li:hover{
    background-color: white;
    color: #cd5b99;
    border-radius: 5px;
}

.reveal {
    /* position: relative; */
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
section {
    min-height: 100vh;
    width: 100%;
   
}
* {
    margin: 0;
    padding: 0;
}
@media screen and (min-width:688px)
{
    .menu-wrap {
        content-visibility: hidden;
    }

}
@media screen and (max-width:668px) {
    .navigation {
        content-visibility: hidden;
    }
}
.navigation {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: flex-end;
    color: aliceblue;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 700;
}
.li {
    padding: 1em 2em 1em 2em;
}

.li.navigation.li:hover {
    padding: 1em 2em 1em 2em;
    text-decoration: underline;
}

.ice {
    width: 100%;
    /* background-color: antiquewhite; */
}

:root {
    /* --primary-color: rgba(242, 248, 193, 0.50); */
    --overlay-color: rgba(45,40,74,1);
    --menu-speed: 0.75s;
}
.showcase {
    width: 100%;
    height: 100vh;
}
.showcase:before {
    content:"";
    /* background: url("./images/bg.jpg") no-repeat; */
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    /* z-index: -1; */

}
.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 83vh;
    width: 100%;

}
.showcase h1 {
    font-size: 3rem;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.showcase h4{
    font-size: 1.5rem;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.menu-wrap .hamburger > div:after {
    top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
   top: 0;
   transform: rotate(90deg);
}

.menu-wrap .menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
     visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu .div-1 {
    background: rgb(45,40,74);
    border-radius: 50%;
    width: 200vw;
    height: 200vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu .div-2 {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.list li{
    font-size: 1.5rem;
    color: white;
    list-style: none;
    font-family: "Raleway";
    font-weight: 700;
    padding: 10px;
    border-bottom: 1px solid  #ffeb3b;
}
.list li:last-child {
    border-bottom: none;
}
.links{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;

}
.menu-wrap .toggler:checked ~ .menu .div-1 {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu .div-2 {
    opacity: 1;
    transition: opacity 0.4 ease;
}
@media screen and (min-width:400px)
{
    .grid {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 3fr;
    }
}
.grid3 {
    display: block;
    padding: 16px;
}
.col3 {
    background-color: rgb(45,40,74);
    margin-bottom: 16px;
    padding: 6px;
}
@media screen and (min-width:768px)
{
    .grid3 {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width:960px)
{
    .grid3 {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1200px)
{
    .grid3 {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(4, 1fr);
    }
}
.photo-img {
    display: block;
    width: 100%;
    max-width: 100%;
    /* animation-name: appear;
    animation-duration: 2s;
    animation-delay: 4s;
     */
}
.title {
    font-family: 'Poppins';
    background-color: rgb(45,40,74);
    color: azure;
    font-size: 30px;
    padding: 1rem 2rem;
    text-align: center;
}
.details {
    font-family: 'Poppins';

    color: azure;
    font-size: 20px;
    padding: 0 2rem;
    text-align: center;

}
.h {
    background-color: rgb(45,40,74);
}
.br {
    font-family: 'Poppins';
     /* background-color: rgb(45,40,74);  */
    color: white; 
    font-size: 25px;
    padding: 0.5em;
    text-align: center;
    
    background: linear-gradient(to right, rgb(45,40,74) 50%, #e19fbc 25%, #d7669e);
    background-size: 200%;
    /* -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;   */
    transition: 0.5s ease-out;
}
.br:hover {
    background-position: -100%;

}
.ice {
    width: 100%;
    background-color:rgb(45,40,74);
    /* max-height: 70px; */
}
.lol {
    font-family: 'Raleway';
    color: aliceblue;
    padding: 2.5rem;


}
.icon {
    color: aliceblue;
    font-size: 30px;
    margin: 15px;
    padding: 5px;
}
.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: aliceblue;
   justify-content: center;
}
.footer {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Poppins';
    text-align: center;
    background-color: rgb(45,40,74);
    /* justify-content: center; */
    width: 100%;
}
.pretty {
    color: aliceblue;
}
.pretty:hover {
    color: #2d284a;
}
div.icon:hover{
    background-color: white;
}
@media screen and (min-width: 768px)
{
    div.col3 {
        transition: 0.3s;
    }
    div.col3:hover {
        transform: scale(1.1);
        z-index: 2;
        background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
        animation: rotate 1.5s linear infinite;
    }
    @keyframes rotate {
        0% {
            filter:hue-rotate(0deg);
        }
        100% {
            filter:hue-rotate(360deg);
        }
    }
}

.about {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1em 3em 1em 3em; */
}
.about h1{
    font-size: 12vw; 
    text-align: center;
    font-family: 'Poppins';
}
.about p{
    font-family: 'Poppins';
    width: 50%;
    text-align: center;
    margin-bottom: 1.5em;
    
}
.gtkm ul {
    list-style: none;
    text-align: center;
    border: #e19fbc;
    border-style: dashed;
    /* width: 20%; */
    margin-top: 1em;
    padding: 2em 1em;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;

}
.skills ul {
    list-style: none;
    text-align: center;
    font-family:'Raleway';
    
}
.about li{
    padding-bottom: 0.3rem;
}

.about h2 {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 8px; 
}
.sub {
    text-decoration: underline;
    font-weight: 600;
}
